asssets/add transaction.png
asssets/AnandaBlackPersonalUseRegular-rg9Rx.ttf
asssets/Aniket.jpg
asssets/features.png
asssets/goals.png
asssets/home screen.png
asssets/insights.png
asssets/profile.png
asssets/transaction.png
